[Desktop Entry]
Name=Materia Manjaro
X-KDE-PluginInfo-Author=Josh Freeno
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Materia-Manjaro
X-KDE-PluginInfo-Version=1.0
